body{display: flex; flex-direction: column; align-items: center;}
button{border-radius: 3px; background-color: #6b97e9; border: none; outline: none;}
#input{background-color: #d4d4d4; outline: none; border: none;}